<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for forms in form %}
        {{forms.label_tag}} {{forms}} {{forms.errors|striptags}} <br><br>
    {% endfor %}
    <input type="submit">
    </form>
    <a href="{% url 'login' %}"><button>login</button></a>

</body>
</html>